<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CareHack{% endblock %}</title>
      {% load staticfiles %}
    <!--<link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}"> -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block page_css %}{% endblock %}
      {% block page_js %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">

              <!-- Header -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">CareHack</a>
            </div>

              <!-- Items -->
            <div class="collapse navbar-collapse" id="menu">

              <ul class="nav navbar-nav">
                <li>
                  <a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                    <span class="glyphicon glyphicon-bell"></span>
                  </a>
                </li>
                <li><a href="#">Menu1</a></li>
                <li><a href="#">Menu2</a></li>
              </ul>
              {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#">{{ user.profile.get_screen_name }}</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#}">Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                  </ul>
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>
      <main>
      <div class="container pagetitle">
        <div class="container">
        <br>
        <br>
        <br>
          {% block content %}
          {% endblock content %}
        </div>
        </div>
      </main>
    {% endblock body %}
  </body>
</html>
